{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ios.js", ".android.js"]
      }
    }
  },
  "rules": {
    "no-console": 0,
    "function-paren-newline": ["error", "consistent"],
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": [0, { "ignorePureComponents": true }],
    "jsx-a11y/media-has-caption": [0]
  },
  "globals": {
    "__DEV__": true,
    "jest": true,
    "describe": true,
    "it": true,
    "expect": true,
    "beforeAll": true,
    "afterAll": true,
    "beforeEach": true,
    "afterEach": true,
    "fetch": true
  }
}
